
@media screen and (max-width: 1400px){
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-cointainer {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #profile,
    .section-container {
        display: block;
    }
    section,
    .section-container
    {
        height: fit-content;
    }
    section{
        margin: 0 5%;
    }
    .section_picture-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers{
        margin-top: 0;
    }    
  
}
